.resultHolder {
	border :1px solid #fff;
	border-bottom: none;
	width: 100%;
	height: auto;
	overflow-x : auto;
	background: #fff;
	color: #000;
	position: relative;
}

#goLeft {
	color: black;
	background: transparent;
	border:none;
	font-size: 60px;
	position: absolute;
	top: 100px;
	z-index: 555;
	right: -100px;
}

#goRight {
	color: black;
	background: transparent;
	border:none;
	font-size: 60px;
	position: absolute;
	top: 100px;
	z-index: 555;
	left: -100px;
}

body {
	background-color: #171a1c!important;
}

.table-loading {
	background: url('../images/loading.gif');
	height: 50px;
	width: 50px;
	position: absolute;
	left: 48%;
	top: 200px;
	background-size: contain;
	display: none;
}

.limit-holder {
	width: 100%;
	text-align: right;
}

.innerResult {
	position: relative;
	background: url('../images/pattern_bg.png') repeat;
	width: 830px;
	min-height: 480px;
	overflow-y: scroll; 
}

.odd-sniff dt {
	color: blue;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.even-sniff dt {
	color: red;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.myellow dt{
	color:  #e1c304;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.mred dt {
	color:  #ed2431;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.mgreen dt {
	color:  #31b44b;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.mblue dt {
	color: #386eb6;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.myellow dt{
	color:  #e1c304;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.mblack dt{
	color: black;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}


.sred dt {
	color: #ed2431;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}

.sgreen dt {
	color:  #31b44b;
	margin-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
	margin-left: 7px;
}


.res-circle {
	height: 27px;
	width: 27px;
	border-radius: 100%;
	text-align: center;
	margin-left: 3px;
	font-size: 10px;
	padding-top: 5px;
	font-weight: 600;
}

.columns {
	float: left;
	width: 34px;
}

.circle-black {
	border : 2px solid black;
}

.circle-blue {
	border :2px solid #386eb6;
}

.circle-red {
	border : 2px solid #ed2431;
}

.circle-green {
	border : 2px solid #31b44b;
}


.circle-yellow {
	border: 2px solid #e1c304;
}


.gameholder {
	margin-top: 100px;
	max-width: 830px;
	margin: auto;
}

.dolly-tabs {
	width: 100%;
	text-align: center;
	position: relative;
}

.dolly-tabs button {
	width: 32.8%;
	height: 50px;
	background-color : #22272b;
	border : none;
	color: white;
	font-weight: bold;
	font-size: 1em;
	border-top: 1px solid white;
	cursor : pointer;
}

.dolly-tabs button:focus {
	outline: none;
	border : none;
}


